autom4te.cache
INSTALL
Makefile
Makefile.in
aclocal.m4
!/build/autotools/shave.m4
!/build/autotools/as-compiler-flag.m4
!/build/autotools/introspection.m4
/build/autotools/*.m4
/build/autotools/shave
/build/autotools/shave-libtool
config.guess
config.h
config.h.in~
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
stamp-h1
unique-1.0.pc
unique-dbus-1.0.pc
unique-3.0.pc
unique-dbus-3.0.pc
unique.pc
/unique/bacon/*.lo
/unique/bacon/*.o
/unique/dbus/*.lo
/unique/dbus/*.o
/unique/*.lo
/unique/*.o
/unique/*.gir
/unique/*.typelib
/unique/stamp-*
/unique/uniqueenumtypes.h
/unique/uniqueenumtypes.c
/unique/uniquemarshal.h
/unique/uniquemarshal.c
xmldocs.make
.*.swp
*~
