autom4te.cache
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
unique-1.0.pc
unique-dbus-1.0.pc
unique.pc
